.custom-image {
    cursor: pointer;
    height: 300px;                    /* Fixed height */
    width: 100%;                      /* Full width of the container */
    object-fit: cover;                /* Ensures the image covers the container while maintaining aspect ratio */
    object-position: center;          /* Center the image within the container */
}


.slds-text-heading_medium {
    font-size: 1.5rem; /* Large text for the code */
    font-weight: bold; /* Makes the code bold */
}

ul {
    list-style-type: disc; /* Standard bullets */
    margin-left: 20px; /* Adds space before the bullets */
}

li {
    margin-bottom: 5px; /* Adds space between bullet points */
}
