.slds-col {
    flex: 1 1 calc(33.33% - 1rem); 
    margin: 0.5rem; 
    box-sizing: border-box;
}

.custom-image {
    cursor: pointer;
    max-width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
    object-position: center;
}

.slds-text-heading_medium {
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 1000;
    padding: 10px 0;
    position: sticky;
    bottom: 0; /* Keeps pagination at the bottom */
}
