:host {
    display: block; /* Make the host element a block-level element */
    width: auto; /* Default width */
    float: left; /* Align the component to the left */
    padding: 10px; /* Optional padding around the component */
}

.component-container {
    float: left; /* Ensure the container is also floated left */
    margin: 0; /* No margin for the container */
}

.main-title {
    font-size: 40px;
    color: #002f54;
    font-family: barlow, sans-serif;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 16px;
}

.section-title {
    font-size: 27px;
    color: #002f54;
    font-weight: 700;
    font-family: barlow, sans-serif;
    line-height: 35px;
    margin-bottom: 16px;
}


.material-number-input .slds-form-element__label {
    font-weight: 400;
    color: #002f54;
    font-family: barlow, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.article-name-input {
    font-weight: 400;
    color: #002f54;
    font-family: barlow, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    box-sizing: border-box;
    width: calc(100% - 170px);
}

.preferred-quantity {
    font-weight: 400;
    color: #002f54;
    font-family: barlow, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    margin-left: auto;
    width: 146px;
    box-sizing: border-box;
}

.help-text {
    font-size: 14px;
    line-height: 21px;
    align-items: flex-start;
    background-color: #009fdf26; /* Light sky blue */
    display: flex; /* Aligns icon and text in a row */
    margin: 12px 0 16px;
    padding: 8px 16px;
}

.icon-symbol {
    align-self: flex-start;
    margin-right: 8px; /* Space between icon and text */
    
    /* Custom Properties to specify the icon's color */
    --slds-c-icon-color-foreground-default: #009fdf; /* Icon fill color */
    --slds-c-icon-color-background: transparent; /* No background color for the icon */
}

.info-text {
    display: block;
    white-space: normal; /* Ensures text wraps correctly */
    margin-bottom: 8px;
}



.next-button
{
    background-color: #009fdf; 
    border-radius: 4px; 
    padding: 10px 20px; 
    font-weight: bold; 
    text-align: center; 
    float: right;
    border: none; 
    color: white;
}

.input-section {
    margin-top: 16px; /* Space above the section */
}

.information-title {
    font-size: 27px;
    font-weight: 700;
    line-height: 35px;
    user-select: none;
    color: #002f54;
    font-family: barlow, sans-serif;
    flex-grow: 1; /* Allow title to take available space */
    margin-bottom: 5px;
}

.input-field {
    width: calc(100% - 20px); /* Full width minus padding */
    margin-bottom: 12px; /* Space between inputs */
    color: #002f54; /* Text color */
    font-family: barlow, sans-serif; /* Font family */
    font-weight: bold; /* Bold input text */
}

.input-field-label {
    font-size: 16px;
    line-height: 1.5;
    display: block;
}

.radio-group {
    margin-top: 3px; /* Space above radio group */
    margin-bottom: 2px; /* Space above radio group */
}

.slds-grid.slds-grid_align-spread {
    align-items: center; /* Center align items vertically */
}
